
@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Tite</h2>
@foreach (var product in ViewBag.Products)
{
    <div class="panel panel-default">
        <div class=" panel-body">
            @Html.Label("Name", "Product:")
            <br />
            <p>@product.Name</p>
            <br />
            <img src="@Url.Content(product.ImagePath)" alt="Sample Image" width="250" height="250" />
            <br />
            @using (Html.BeginForm(actionName: "Details", controllerName: "Product", method: FormMethod.Get, routeValues: new { id = product.ProductId }))
            {
                <button class="btn btn-primary">Details</button>
            }

        </div>
    </div>
}
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Add product", "New")
}
<br />
<br />
@using (Html.BeginForm(actionName: "Index", controllerName: "Home", method: FormMethod.Get))
{
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Back</button>
}