@model ZooShop.Models.Animal
@{
    ViewBag.Title = "Details";
    var emptySummaryMsgVar = "This animal has no details";
}

<h2>@Model.Name</h2>
<img src="@Url.Content(Model.ImagePath)" alt="Sample Image" width="250" height="250" />
<br />
@Html.Label("Gender", "Gender : ")
<br />
<p>@Model.Gender</p>
<br />
@Html.Label("Price", "Price : ")
<br />
<p>@Model.Price Lei</p>

@Html.Label("Details", "Details: ")
<br />
<div class="panel-body">
    @if (Model.Details.IsEmpty())
    {
        <p>@emptySummaryMsgVar</p>

    }
    else
    {
        @Html.DisplayFor(b => b.Details)
    }
</div>


@if (Model.Vaccines.Count > 0)
{
    @Html.Label("Vaccines", "Vaccines:")
    <bt>
        <ul>
            @foreach (var vaccine in Model.Vaccines)
            {
                <li>
                    @vaccine.Name
                </li>
            }
        </ul>
    </bt>
}

@if (Model.Breed != null)
{
    @Html.Label("Breed", "Breed : ")
    <br />
    @Html.DisplayFor(b => b.Breed.BreedName)
    <br />
    <br />
}

@if (User.IsInRole("Admin"))
{
    using (Html.BeginForm(actionName: "Edit", controllerName: "Animal", method: FormMethod.Get, routeValues: new { id = Model.AnimalId }))
    {
        <button style="margin-right: 5px" class="btn btn-primary col-lg-1" type="submit"> Update</button>
    }

    using (Html.BeginForm(actionName: "Delete", controllerName: "Animal", method: FormMethod.Post, routeValues: new { id = Model.AnimalId }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-primary col-lg-1" type="submit">Delete</button>
    }
}